.product__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--card-background-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.product__image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.product__subdetails {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product_subinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--title-color);
  row-gap: 0.5rem;
}

.product__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--title-color);
}

.product__name {
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  padding: 0;
}

.product__price {
  padding: 0;
}

.product__card-icon {
  padding: 0.2rem;
  background-color: var(--first-color);
  border-radius: 1em;
  color: white;
}

@media screen and (min-width: 620px) {
  .product__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 970px) {
  .product__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .product__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
