.product__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--card-background-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.product__showcase {
  position: relative;
}

.product__card-icon {
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
  border-radius: 100%;
  background-color: var(--first-color);
  padding: 0.5em;
  /* color: var(--title-color); */
  color: white;
  box-shadow: 0 0 1rem 0.5em hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  transition: 0.1s;
}

.product__card-icon:hover {
  transform: scale(1.1);
}

.product__image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.product_subinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--title-color);
  row-gap: 0.5rem;
}

.product__name {
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
}

.product__link {
  color: var(--title-color);
}

@media screen and (min-width: 620px) {
  .product__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 970px) {
  .product__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .product__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
